{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Employee</h1>
    <div class="col-sm-12">
        <div class="col-sm-10">
        </div>
        <div class="col-sm-2">
            <a href="{{ path('app_employee_new') }}"><button class="btn btn-info">Create new</button></a>
        </div>
    </div>
    <br><br>
    <div class="col-sm-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Salary</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.salary }}</td>
                <td>
                    <a href="{{ path('app_employee_show', {'id': employee.id}) }}"><i class="fa fa-eye" style="font-size:25px;color:#2e6da4"></i></a>
                    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}"><i class="fa fa-pencil" style="font-size:25px;color:#2e6da4"></i></a>
                    {% include "employee/_delete_form.html.twig" %}
                    {#<a href="{{ path('app_employee_delete', {'id': employee.id}) }}"><i class="fa fa-trash" style="font-size:25px;color:#2e6da4"></i></a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
